<mat-card>
    <mat-card-title>Novo Usuário</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sobrenome"
                [(ngModel)]="product.sobrenome" name="sobrenome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email"
                [(ngModel)]="product.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone"
                [(ngModel)]="product.telefone" name="telefone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Formação"
                [(ngModel)]="product.formacao" name="formacao">
        </mat-form-field>
        
    </form>
    <button mat-raised-button (click)="createProduct()" color="primary">
        Guardar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

